.container{
    width: 100%;
    height: 100%;
   
}
.contain{
    width: 100%;
    height: 100%;
}
.contain img{
    width: 1000px;
    height: 600px;
    margin-left: 700px;
    
}
.contain p{
    width: 1000px;
    font-size: 32px;
    margin-left: 700px;
    text-align:justify;
}
.contain h2{
    margin-top: 100px;
    margin-left: 700px;
    font-size: 40px;
}
